.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.roh-blue {
  color: #245da1;
}

.roh-green {
  color: #60b257;
}

.box-shadow{
  box-shadow: 0 0 6px 8px #80808047;;

}

.pie-chart-container {
  width: 90%; /* Or fluid width based on parent */
  max-width: 1024px;
  margin: 20px auto;
  border: 1px solid #ccc;
}

.pie-svg-chart{
  display: block; /* Removes extra space below SVG */
  width: 100%;    /* Makes SVG fill its parent container's width */
  height: auto;   /* Maintains aspect ratio */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Legend specific styles */
.legend-item {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.legend-color-box {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid #ccc;
}


